<div ng-controller='chat-cont'>
    <div class="panel dash-panel">
        <div class="panel-heading">Chat</div>
        <div class="panel-block" style='padding:10px;height:80vh'>
            <div id='chat-container'>
                <div class='thrd-inst is-fullwidth' ng-class='{"has-text-danger":msg.isSys,"has-text-white":!msg.isSys && msg.user!=user.user,"has-text-grey-light":!msg.isSys && msg.user==user.user}' ng-repeat='msg in msgs'><b>{{msg.user}} - {{msg.time|numToDate}}:</b> <span ng-bind-html='msg.msg'></span></div>
            </div>
            <br>
            <br>
            <br>
            <form class='is-fullwidth columns' style='height:10%'>
                <input class="column input" type='text' ng-model='newMsg' style='width:90%;flex:none;'></input>
                <button class="column button is-light" ng-click='sendChat()' type='submit' style='width:10%;flex:none;'>Send</button>
            </form>
        </div>
    </div>
</div>