<div class='container columns' ng-controller='unconf-cont'>
    <div class="column is-one-fifth"></div>
    <div class="column is-three-fifths panel">
        <div class="panel-heading has-background-danger has-text-white has-text-weight-bold">
            Unconfirmed Account
        </div>
        <div class="panel-block has-background-dark" style='display:block;'>
            <div class='is-fullwidth has-text-white' style='display:block;'>
                Hi, new member!
                <br>
                <br> Your account is unconfirmed. To prevent spam, we ask that you have a member of the Hidden Tyria Geographic Society guild confirm you before you can view the main site. Sorry!
                <br>Sincerely,
                <br> - [GEO]
            </div>
            <div class='is-fullwidth' style='display:block;'>
                <button class='button is-warning' ng-click='logout();'>Log out</button>
            </div>
        </div>
    </div>
</div>