<div ng-controller='forum-cat-cont' class='columns'>
    <div class="column is-one-fifth"></div>
    <div class="column is-three-fifths panel">
        <div class="panel-heading has-text-white has-background-grey-darker">
            <a href="#" ui-sref='app.forum' class='no-blue-link'>Forums</a>: {{currCat.titleCase()}}
        </div>
        <div class='panel-block has-text-white has-background-grey-dark'>
            <table class='table striped has-background-grey is-fullwidth has-text-white'>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>
                            Thread
                        </th>
                        <th>
                            Created By
                        </th>
                        <th>
                            Last Post Time
                        </th>
                        <th ng-if='user.mod'>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='thr in threads track by $index' ui-sref='app.forumThr({t:thr._id,c:thr.grp})' class='pokey thrd-inst'>
                        <td><i class="fa fa-thumb-tack" ng-if='thr.stickied' title='This thread has been stickied by a mod!'></i>&nbsp;<i class="fa fa-lock" ng-if='!thr.open' title='This thread has been locked by a mod!'></i></td>
                        <td>{{thr.title}}</td>
                        <td>{{thr.user}}</td>
                        <td>{{thr.time.toLocaleString()||'N/A'}}</td>
                        <td ng-if='user.mod'>
                            <button class='button is-light is-small' ng-click='toggleSticky($event,thr._id);' title='Sticky/unsticky thread'>
                                <i class="fa fa-thumb-tack" ng-click='$event.preventDefault()'></i>
                            </button> &nbsp;
                            <button class='button is-danger is-small' ng-click='toggleLock($event,thr._id);' title='Lock/unlock thread'>
                                <i class="fa fa-lock" ng-click='$event.preventDefault()'></i>
                            </button>
                            <button class='button is-dark-red has-text-white is-small' ng-click='deleteThread($event,thr);' title='Delete thread'>
                                <i class="fa fa-trash" ng-click='$event.preventDefault()'></i>
                            </button>
                        </td>
                    </tr>
                    <tr ng-if='!threads || !threads.length'>
                        <td colspan='3' class='has-text-centered'>
                            No threads yet!
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3' class='has-text-centered'>
                            <button class="button is-dark" ng-click='newThrDial()'><i class='fa fa-plus'></i>&nbsp;New Thread</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal" ng-class="{'is-active':makingThread}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="panel">
                <div class="panel-heading">
                    New Thread
                </div>
                <div class="panel-block has-background-grey-darker has-text-white">
                    <div class="field">
                        <label class='label has-text-white'>
                            Thread Title
                        </label>
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder="Your thread's title" ng-model='newThr.title'>
                            <span class="icon is-small is-left">
                            <i class="fa fa-puzzle-piece"></i>
                        </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class='label has-text-white'>
                            Post
                        </label>
                        <p class="control">
                            <textarea class='textarea' ng-model='newThr.txt' placeholder='Thread text'></textarea>
                        </p>
                    </div>
                    <div class="field">
                        <div class="file is-centered">
                            <label class="file-label">
                                <!-- <input class="file-input" type="file" ng-model='newThr.file' ng-click='loadingFile=true' onchange="angular.element(this).scope().loadFile()"> -->
                                <input class='file-input' type="file" fileread="newThr.file" onchange="angular.element(this).scope().loadFile()" />
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fa fa-upload"></i>
                                    </span>
                                <span class="file-label">
                                        {{fileName?fileName:'Include an image (optional)…'}}
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="column is-one-quarter"></div>
                        <button class='is-fullwidth button is-grey-lighter' ng-disabled='loadingFile' ng-click='makeThread()'><i class='fa fa-check'></i>&nbsp;Create Thread</button>
                        <button class='is-fullwidth button is-grey-md has-text-white' ng-click='clearThread()'><i class='fa fa-times'></i>&nbsp;Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>